In [4]:
# import the needed libraries and datasets
import pandas as pd
import numpy as np

**26.** You have a DataFrame that consists of 10 columns of floating--point numbers. Suppose that exactly 5 entries in each row are NaN values. For each row of the DataFrame, find the *column* which contains the *third* NaN value.

(You should return a Series of column labels. Try not to use `.iterrows()`)

In [54]:
data = {
1:[np.nan,2,np.nan,4,5],
2:[np.nan,2,3,np.nan,5],
3:[np.nan,2,np.nan,4,5],
4:[1,np.nan,3,np.nan,np.nan],
5:[1,2,np.nan,4,5],
6:[1,np.nan,3,np.nan,np.nan],
7:[1,2,3,4,5],
8:[1,np.nan,3,np.nan,np.nan],
9:[1,2,3,4,np.nan],
10:[1,np.nan,3,4,5]}


((data.isnull().cumsum(axis=1)) == 3).idxmax(axis=1)
"""the isnull method returns a table of booleans
then the cumsum method adds the boolean values (False = 0, True = 1) up to three
and then the idxmax gives you the max value

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-54-db253c70b5f1>, line 17)

**27.** A DataFrame has a column of groups 'grps' and and column of numbers 'vals'. For example: 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values.

In [68]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]}) 

dfs = df.groupby("grps")["vals"].nlargest(3).sum(level=0)

print(dfs) 
print(df)

grps
a    409
b    156
c    345
Name: vals, dtype: int64
   grps  vals
0     a    12
1     a   345
2     a     3
3     b     1
4     b    45
5     c    14
6     a     4
7     a    52
8     b    54
9     c    23
10    c   235
11    c    21
12    b    57
13    b     3
14    c    87